.filter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btns{
  display: flex;
  gap: 8px;
}

.filter-btns button{
  background-color: transparent;
  border: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 0 5px;
  cursor: pointer;
}



.filter-btn.active {
  font-weight: bold;
  color: #6C63FF;
    padding: 0 5px;

}


.taskleft-text{
  color: black;
}