.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0px 0px 20px 0px;
}

.input-container input {
  border: 2px solid #6C63FF;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 500;
}

.input-container input:focus {
  outline: 2px solid #6C63FF;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  font-size: 20px;
  background-color: #6C63FF;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.add-btn:hover{
  opacity: 0.8;
}

.add-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
