.theme-btn{
    background-color: #6C63FF;
    border: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
      transition: all 0.2s ease-in-out;

}

.theme-btn:hover{
      opacity: 0.8;
}

.sun-icon{
    color: white;
}

.theme-btn:active{
    color: darkslateblue;
}